### Functions

In [1]:
## synax 

def function_num(parameters):
    """Docstring"""
    # Function body
    return expression

In [2]:
## why function ?

num=2
if num%2==0:
    print("even")
else:
    print("odd")

even

In [ ]:

def even_or_odd(num):
    if num%2==0:
        print("even")
    else:
        print("odd")

In [4]:
## call the function 

even_or_odd(34)

even

In [7]:
## functions with multiple parameters

def add(a,b):
    return a+b
result=add(2,4)
print(result)

6

In [9]:
## Default parameters

def greet(name):
    print(f"Hello {name} Welcome to the Alvas ")
greet("abhi")

Hello abhi Welcome to the Alvas

In [12]:

def greet(name="geust"):  ## when we not geiven  "name" parameter the is showes error other wise u add parameter in (def  function  name="geust" )  then it shows "name+ guest " then  it will run the code
    print(f"Hello {name} Welcome to the Alvas ")
greet("chiru")  ## u give here also "name" then it code runs with given name

Hello chiru Welcome to the Alvas

### Variable length Arguments

In [13]:
## Variable length Arguments


## Positional And Keyword Arguments 

def print_numbers(*chiru):
    for number in chiru:
        print(number)

In [16]:
print_numbers(1,2,3,4,5,6,7,8,9,"chiru")

1
2
3
4
5
6
7
8
9
chiru

In [17]:
## Positional Arguments

def print_numbers(*args):
    for number in args:
        print(number)

In [18]:
print_numbers(1,2,3,4,5,6,7,8,9,"chiru")

1
2
3
4
5
6
7
8
9
chiru

In [27]:
## Keywords Arguments 


def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [28]:
print_details(name="chiru",age="23",country="India")

name:chiru
age:23
country:India

In [3]:
def print_details(*args,**kwargs):
    for val  in args:
        print(f"Positional argument:{val}")

    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [5]:
print_details(1,2,3,4,5,6,7,8,name="chiru",age="23",country="India")

Positional argument:1
Positional argument:2
Positional argument:3
Positional argument:4
Positional argument:5
Positional argument:6
Positional argument:7
Positional argument:8
name:chiru
age:23
country:India

In [11]:
## Retrun statement

def multiply(a,b):
    return a*b

multiply(2,3)

6

In [16]:
## Retrun  multiple parameters 

def multiply(a,b):
    return a+b, a

multiply(2,3)

(5, 2)

In [18]:
## Retrun  multiple parameters 

## example

def multiply(a,b):
    return a+b,a-b,a*b,a%b,a/b,a**b,a//b

multiply(2,3)

(5, -1, 6, 2, 0.6666666666666666, 8, 0)