### Loops

In [1]:
range(5)

range(0, 5)

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [3]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [6]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [8]:
for i in range(10,1,-3):
    print(i)

10
7
4

In [9]:
#strings

str="chiru acharya"

for i in str:
    print(i)

c
h
i
r
u

a
c
h
a
r
y
a

In [14]:
# while  loop

count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [21]:

# Loop control statments

# Break Statement 

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [22]:
# continue 

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [27]:
# Pass 

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [ ]:
# Nested loops


for i in range(3):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

### Examples:---

In [35]:
# calculate the sum of first N natural number using while and for loop

n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("sum of first 10 natural number:",sum)

sum of first 10 natural number: 55

In [36]:
# or 

n=10
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [ ]:
# prime numbers between 1 and 100  

for num in range(1, 101):   
    if num > 1:             
        for i in range(2, num):  
            if num % i == 0:    
                break
        else:   
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97