#### Dictionaries
 dictionary is a built-in data type that stores data in keyâ€“value pairs.

## 1) Creating Dictionaries

In [ ]:


## there are two way to  create the Dictionaries

empty_dict={}
print(type(empty_dict))


    ## OR

<class 'dict'>

In [ ]:
     ##OR


empty_dict=dict()
empty_dict

{}

In [6]:
student={"name":"chiru","age":21,"grade":24}
print(student)
print(type(student))

{'name': 'chiru', 'age': 21, 'grade': 24}
<class 'dict'>

In [7]:
## single key is  always used
student={"name":"chiu","age":21,"name":24}
print(student)

{'name': 24, 'age': 21}

###  2) Accecing Dictionary Elements

In [8]:
## accecing Dictionary Elements

student={"name":"chiru","age":21,"grade":24}
print(student)

{'name': 'chiru', 'age': 21, 'grade': 24}

In [ ]:
## accecing Dictionary Elements

print(student['grade'])
print(student['age'])
print(student['name'])



       ##Or

## Accecing using  get() method 

print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

24
21
chiru
24
None
Not Available

### 3)  Modifying Dictionry Elements

In [14]:
##  Modifying Dictionry Elements

## Dictionary are mutable,so you can add, update or delete elements

print(student)

{'name': 'chiru', 'age': 21, 'grade': 24}

In [ ]:
student["age"]=33  ## Update value for the key 
print(student)

student["address"]="India"  ## added new key and value
print(student)

{'name': 'chiru', 'age': 33, 'grade': 24, 'address': 'India'}
{'name': 'chiru', 'age': 33, 'grade': 24, 'address': 'India'}

In [ ]:

del student['grade']  ## delete key and value pair
print(student)

{'name': 'chiru', 'age': 33, 'address': 'India'}

###  4)  DIctionary Methods

In [69]:
keys=student.keys()   ## get all the key 
print(keys)

values=student.values() ## get all the values
print(values)

items=student.items()    ## get all keys and value pair
print(items)

dict_keys(['student1', 'student2'])
dict_values([{'name': 'chiru', 'age': 32}, {'name': 'josaff', 'age': 35}])
dict_items([('student1', {'name': 'chiru', 'age': 32}), ('student2', {'name': 'josaff', 'age': 35})])

In [34]:
## Shallow copy --->( it is used in priject )

student_copy=student
print(student)
print(student_copy)

{'name': 'chiru', 'age': 33, 'address': 'India'}
{'name': 'chiru', 'age': 33, 'address': 'India'}

In [38]:
student["name"]="chiru1"
print(student)
print(student_copy)

{'name': 'chiru1', 'age': 33, 'address': 'India'}
{'name': 'chiru1', 'age': 33, 'address': 'India'}

In [39]:
student_copy1=student.copy()
print(student_copy)
print(student)

{'name': 'chiru1', 'age': 33, 'address': 'India'}
{'name': 'chiru1', 'age': 33, 'address': 'India'}

In [41]:
student["name"]="chiru2"
print(student_copy1)
print(student)

{'name': 'chiru1', 'age': 33, 'address': 'India'}
{'name': 'chiru2', 'age': 33, 'address': 'India'}

### 5) Iterating Over Dictionaies

In [44]:
## you can use loops to itterate over dictionaries,keys,values,or items

#Iterating over keys

for keys in student.keys():
    print(keys)

name
age
address

In [46]:
#Iterating over values


for values in student.values():
    print(values)

chiru2
33
India

In [48]:
#Iterating over key value pairs

for key,value in student.items():
    print(f"{key}:{value}")

name:chiru2
age:33
address:India

###  6)Nested Dictionaries

In [ ]:
## Examples 1:------------


students={
    "student1":{"name":"chiru","age":32},
     "student2":{"name":"josaff chiru","age":35}    
     
}
print(students)

{'student1': {'name': 'chiru', 'age': 32}, 'student2': {'name': 'josaff chiru', 'age': 35}}

In [57]:
students={
    "student1":{
        "name":"chiru",
        "age":32
    },
     "student2":{
         "name":"josaff chiru",
         "age":35
         
    }    
}
   

print(students)

{'student1': {'name': 'chiru', 'age': 32}, 'student2': {'name': 'josaff chiru', 'age': 35}}

In [ ]:

## Access nested dictionaries 

print(students["student2"]["name"])
print(students["student2"]["age"])

josaff chiru
35

In [ ]:
## Examples 2:------------


students = {
    "student1": {"name": "Chiru", "age": 32, "grade": "A"},
    "student2": {"name": "Josaff", "age": 35, "grade": "B"},
    "student3": {"name": "Anu", "age": 28, "grade": "A"}
}

print(students["student1"]["name"])   # Chiru
print(students["student2"]["grade"])  # B
print(students["student3"]["age"])

Chiru
B
28

In [60]:
students.items()

dict_items([('student1', {'name': 'Chiru', 'age': 32, 'grade': 'A'}), ('student2', {'name': 'Josaff', 'age': 35, 'grade': 'B'}), ('student3', {'name': 'Anu', 'age': 28, 'grade': 'A'})])

In [ ]:
## Iterating over nested dictionaries

for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,values in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Chiru', 'age': 32, 'grade': 'A'}
name:India
age:India
grade:India
student2:{'name': 'Josaff', 'age': 35, 'grade': 'B'}
name:India
age:India
grade:India
student3:{'name': 'Anu', 'age': 28, 'grade': 'A'}
name:India
age:India
grade:India

###   Dictionary Comphrehension

In [62]:
##   Dictionary Comphrehension

squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [66]:
## condition dictionary comparehension 


events={x:x**2 for x in range(10) if x%2==0}
print(events)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [67]:
## Parctical Examples 

## use a dictionary to count he frequency of element in list 

numbers=[1,2,2,3,3,3,4,4,4,5,66,2,21,1,4,4,5,5,]
frequency={}

for number in numbers :
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 2, 2: 3, 3: 3, 4: 5, 5: 3, 66: 1, 21: 1}

In [68]:
## Merge 2 dictionaries into one 

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [5]:
feedbacks = [
    "Great service.",
    "Very satisfied.",
    "Could be better.",
    "Excellent experience.",
    "Not happy with the service."
]
positive_feedback_count = 0
for comment in feedbacks:
    if "great" in comment.lower() or "excellent" in comment.lower():
        positive_feedback_count += 1
print(f"Positive feedback count: {positive_feedback_count}")
print("User feedback comments:")
for comment in feedbacks:
    print(f"- {comment}")

Positive feedback count: 2
User feedback comments:
- Great service.
- Very satisfied.
- Could be better.
- Excellent experience.
- Not happy with the service.