### Sets

Set is a built-in data type used to store multiple unique items in a single variable.

In [1]:
## creating a set 

my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [5]:
my_set=set([1,2,3,4,4,5])
print(my_set)

{1, 2, 3, 4, 5}

In [37]:
## Basics sets of Operation

## Adding and Removeing  Elements

 ## Adding element to set 

my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}

In [8]:
## Removing Element from set

my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

In [9]:
my_set.discard(33)
print(my_set)

{1, 2, 4, 5, 7}

In [12]:
##  pop method (Removing  particular elament )


my_set={1,2,3,4,5}
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 3, 4, 5}

In [13]:
## clear all the elements 

my_set.clear()
print(my_set)

set()

In [ ]:
## Set Membership test 

my_set={1,2,3,4,5}
print(3 in my_set)
print(100 in my_set)

True
False

In [18]:
## Mathematical Operation 

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## union ---------------( it prints   from lower number  to larger number  but not repeated elements )

union_set=set1.union(set2)
print(union_set)


## Inertsection -------------( it will prints  only repeated elaments from both sets)

intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [19]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference 

print(set1.difference(set2))

{1, 2, 3}

In [20]:
set1

{1, 2, 3, 4, 5, 6}

In [22]:
print(set2.difference(set1))

{8, 9, 7}

In [23]:
set2

{4, 5, 6, 7, 8, 9}

In [24]:
## symmetric Difference 

set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [31]:
##    set Methods 

set1={1,2,3,4,5}
set2={3,4,5}

## is subset 
print(set1.issubset(set2))


##  issuperset  

print(set1.issuperset(set2))

False
True

In [32]:
lst=[1,2,3,4,5,6,7,]
set(lst)

{1, 2, 3, 4, 5, 6, 7}

In [36]:
### Counting unique  words in text 

text="I am styding in alvas colllage  at mijar  "
words=text.split()

## convert  list of words to set get unique words 

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'at', 'I', 'am', 'alvas', 'styding', 'in', 'colllage', 'mijar'}
8