### Tuples

Tupeles is a order collection of items that are immutable. they are similar to list,but their immutability

In [1]:
## creating tuples 


empty_tuples=()
print(empty_tuples)
print(type(empty_tuples))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
list([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]

In [6]:
numbers

(1, 2, 3, 4, 5, 6)

In [8]:
mixed_tuples=(1,"helllo",3.3,True)
print(mixed_tuples)

(1, 'helllo', 3.3, True)

In [8]:
## Accesssing Tuples Elements 
numbers=([1,2,3,4,5,6])

In [17]:
mixed_tuples=(1,"hello",3.3,True)
print(mixed_tuples)

(1, 'hello', 3.3, True)

In [13]:
## Checking indexing 

print(numbers[2])
print(numbers[-1])
print(numbers[::])
print(numbers[1:])
print(numbers[::-1])

numbers[0:4]
numbers[::-1]

3
6
[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

[6, 5, 4, 3, 2, 1]

In [18]:
##  Tuple Operation 

concatenation_tuples=numbers + mixed_tuples
print(concatenation_tuples)

TypeError: can only concatenate list (not "tuple") to list

In [21]:
mixed_tuples*3

(1, 'helllo', 3.3, True, 1, 'helllo', 3.3, True, 1, 'helllo', 3.3, True)

In [22]:
concatenation_tuples*2

(1,
 2,
 3,
 4,
 5,
 6,
 1,
 'helllo',
 3.3,
 True,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 'helllo',
 3.3,
 True)

In [25]:
## Immutable Nature of Tuples
## tuples are immutable ,meaning their elements cannot be changed once assigned 

lst=[1,2,3,4,5]
print(lst)

lst[1]="chiru"
print(lst)


lst[4]="acharya"
print(lst)

[1, 2, 3, 4, 5]
[1, 'chiru', 3, 4, 5]
[1, 'chiru', 3, 4, 'acharya']

In [26]:
numbers

(1, 2, 3, 4, 5, 6)

In [29]:
## Tuples Methods

print(numbers.index(4))
print(numbers.index(2))

print(numbers.index(1))
print(numbers.index(3))

3
1
0
2

In [41]:
## packing and Unpacking tuple


# Packing a tuple
packed_tuple = (1, "hello", 3.33)
print(packed_tuple)

(1, 'hello', 3.33)

In [19]:
## unpacking a tuple 

a,b,c=packed_tuple
print(a)
print(b)
print(c)

NameError: name 'packed_tuple' is not defined

In [46]:
## unpacking with *

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
## Nested Tuple  (Nested?--- it is a list with in a list is called nestesd )
## Nested List 

lst=[[1,2,3,4],[5,6,7,8,9],[1,"kello",3.12,"c"]]
lst[0][0:4]

[1, 2, 3, 4]

In [67]:

lst=[[1,2,3,4],[5,6,7,8,9],(1,"kello",3.12,"c")]

lst[2][0:3]

(1, 'kello', 3.12)

In [65]:
nested_tuple=((1,2,3,4),("a","b","c"),(True,False))

## access the element inside  tuple 

print(nested_tuple[0])
print(nested_tuple[1][1])
print(nested_tuple[2][1])

(1, 2, 3, 4)
b
False

In [63]:
##  iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3 4
a b c
True False