In [1]:
print("hello world")

hello world

In [2]:
print(1+1)

2

In [3]:
age=32
name="chiru"

In [10]:
age=32
name="chiru"
print("age:",age)
print("name:",name)
print("name:",len(name))

age: 32
name: chiru
name: 5

In [11]:
age=20
print(type(age))

<class 'int'>

In [12]:
age=20
print(type(age))
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
20
<class 'str'>

In [19]:
age=20
print(type(age))
age_str=str(age)
print(age_str)
print(type(age_str))
age_str=int(age_str)
print(type(age_str))
age_str=float(age_str)
print(age_str)
print(type(age_str))

<class 'int'>
20
<class 'str'>
<class 'int'>
20.0
<class 'float'>

In [20]:
height=5.12
type(height)

float

In [ ]:
int(height)

5

In [22]:
float(int(height))

5.0

In [10]:
result="Hello"+ "chiru"
print(result)

Hellochiru

In [11]:
a=10 
b=5

add_result=a+b
sub_result=a-b
mult_result=a*b
div_result=a/b
floor_div_result=a//b
modulus_result=a%b
exponent_result=a**b

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(exponent_result)

15
5
50
2.0
2
100000